<!-- BEGIN_INCLUDE(dataanalysis:collect-for-analysis) -->
    <dataanalysis:collect-for-analysis kpiName="kpi1">
    	<dataanalysis:data ref="#[['hello' : 'test']]" />
    </dataanalysis:collect-for-analysis>
<!-- END_INCLUDE(dataanalysis:collect-for-analysis) -->

<!-- BEGIN_INCLUDE(dataanalysis:collect-for-analysis-2) -->
	<dataanalysis:collect-for-analysis kpiName="kpi2">
    	<dataanalysis:data>
    		<dataanalysis:datum key="hello">test</dataanalysis:datum>
    	</dataanalysis:data>
    </dataanalysis:collect-for-analysis>
<!-- BEGIN_INCLUDE(dataanalysis:collect-for-analysis-2) -->
